.container {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.position-relative {
    position: relative;
}

.remove-bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.remove-bookmark:hover {
    background-color: darkred;
}
