.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.loading-text {
    text-align: center;
    color: white;
}
