.game-list-container {
    padding: 20px;
    margin-left: 250px; 
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.loading-text {
    text-align: center;
    color: white;
}


.col-lg-3,
.col-md-4,
.col-sm-6,
.col-12 {
    display: flex;
}

.game-cards {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


@media (max-width: 690px) {
    .game-list-container {
        margin-left: 0; 
    }

    .container-fluid {
        padding: 0px 10px;
    }
}
